<div ng-app="myApp" ng-controller="myCtrl"> 
  <h4>Employee Number: {{empnumber}} </h4>
  <h4>Sale Count {{salecount}}<h4>
  <h4>To:{{startdate}} From:{{enddate}}
   <table>
   <tbody ng-repeat="rptcategory in rptcategories ">
        <tr>
          <td>{{rptcategory.name}}</td><td>Name</td><td>quantity</td><td>Amount</td>
        </tr>
        <tr ng-repeat="item in rptcategory.items">
          <td>&nbsp;</td><td>{{item.name}}</td><td>{{item.quantity}}</td><td>{{item.amount | currency }}</td>
        </tr>
    </tbody>
  </table>
</div>